<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/Plugins/JFine.VMW/Content/css/BigData.css" rel="stylesheet" type="text/css" />
    <link href="/Plugins/JFine.VMW/Content/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/Plugins/JFine.VMW/Content/css/index01.css" rel="stylesheet" type="text/css" />
    <script src="/Plugins/JFine.VMW/Content/js/jquery.js"></script>
    <link href="/Plugins/JFine.VMW/Content/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Plugins/JFine.VMW/Content/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <link href="/Plugins/JFine.VMW/Content/css/Security_operation.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Plugins/JFine.VMW/Content/js/artDialog/skins/default.css" type="text/css" />
    <script src="/Plugins/JFine.VMW/Content/js/laydate.js"></script>
    <script src="~/Content/js/signalR/jquery.signalR-2.2.3.min.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/signalR/VMWSignalR.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>

    <script src="/Content/js/openlayers_v5.3.0/ol.js"></script>
    <link href="/Content/js/openlayers_v5.3.0/ol.css" rel="stylesheet" />
    <script src="/Content/js/vue2.6.7/vue.min.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/Home_page.js"></script>
    <link href="/Content/js/viewerjs/viewer.min.css" rel="stylesheet" />
    @*<script src="/Content/js/viewerjs/viewer.min.js"></script>*@
    <script src="/Content/js/viewerjs/viewer.js"></script>
    <meta charset="UTF-8">
    <title>实时监控</title>

    <style>
        .vjs-live .vjs-time-control {
            display: block;
        }
    </style>

    <style type="text/css">
        .checkbox {
            margin: 5px 15px;
        }

        .marker {
            width: 20px;
            height: 20px;
            border: 1px solid #088;
            border-radius: 10px;
            background-color: #0FF;
            opacity: 0.5;
        }

        .address {
            text-decoration: none;
            color: #aa3300;
            font-size: 14px;
            font-weight: bold;
            text-shadow: black 0.1em 0.1em 0.2em;
        }

        .ol-popup {
            position: absolute;
            background-color: #eeeeee;
            -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            bottom: 12px;
            left: -50px;
            min-width: 280px;
            opacity: 0.9;
        }

            .ol-popup:after, .ol-popup:before {
                top: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .ol-popup:after {
                border-top-color: #eeeeee;
                border-width: 10px;
                left: 48px;
                margin-left: -10px;
            }

            .ol-popup:before {
                border-top-color: #cccccc;
                border-width: 11px;
                left: 48px;
                margin-left: -11px;
            }

        .ol-popup-closer {
            text-decoration: none;
            position: absolute;
            top: 2px;
            right: 8px;
        }

            .ol-popup-closer:after {
                content: "✖";
            }
    </style>

    <script>

        function zoomFull() {
            //var ele = $("#vmw_div");

            var ele = document.getElementById("vmw_div");
            launchIntoFullscreen(ele);
        }

        function launchIntoFullscreen(element) {
            if (element.requestFullscreen) {
                element.requestFullscreen();
            }
            else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            }
            else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            }
            else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }

        function exitFullscreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
        function playAudio()
        {
            $("#audioPlay").play();
        }
    </script>

</head>
<body>
    <audio id="audioPlay" src="/Content/Files/Voice/warning.wav">
        <source type="audio/wav" />
    </audio>
    <div id="vmw_div" class="data_bodey">
        <div class="index_nav" style="display: flex;">
            <div class="left nav" style="width:35%;">

            </div>
            <div class="header_center">
                <h2 style="margin-top:7px;"><strong>智能视频监控实时视频</strong></h2>
            </div>
            <div class="right nav text_right" style="width:35%;">
                <ul style="height: 30px; margin-bottom: 0px;">
                    <li class="r_right total_chose_pl nav_active" onclick="window.location.href = '/VMW/VMWHome/Index?mapCode=KT001';">监控预警</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="index_tabs" style="overflow: auto;">
            <div class="inner" style="height: 100%;">
                <div id="app" style="margin-top: 10px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div v-for="camera in currentList" class="col-md-4" style="padding-left:0;padding-right:0;">
                                <div style="background-color:#CCCCCC;margin:5px;">
                                    <iframe v-bind:id="camera.Id" class="plugin" style="width:100%;" height="300" frameborder=0 v-bind:src="'/VMW/VMWCamera/HKVideo?ip='+camera.IP+'&port='+camera.Port+'&account='+camera.Account+'&password='+camera.PassWord"></iframe>
                                    <div>{{camera.Name}}</div>
                                    <div>{{camera.Position}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;text-align:center;">
                            <button type="button" v-bind:style="{ display: page==1?'none':'inline-block' }" v-on:click="prePage()" class="btn btn-primary btn-lg">👈上一页</button>
                            <button type="button" v-bind:style="{ display: (page==allCount/pageRows)?'none':'inline-block' }" v-on:click="netPage()" class="btn btn-primary btn-lg">下一页👉</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/Plugins/JFine.VMW/Content/js/echarts-all.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/bstable/js/bootstrap.min.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/bstable/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/Plugins/JFine.VMW/Content/js/jquery.pagination.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>

    <!--<script src="js/MainMap.js"></script>-->
    <script src="/Plugins/JFine.VMW/Content/js/Home_page.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/artDialog/artDialog.js"></script>
    <script src="/Plugins/JFine.VMW/Content/js/artDialog/plugins/iframeTools.source.js"></script>
    <script>
        $.request = function (name) {
            var search = location.search.slice(1);
            var arr = search.split("&");
            for (var i = 0; i < arr.length; i++) {
                var ar = arr[i].split("=");
                if (ar[0] == name) {
                    if (decodeURI(ar[1]) == 'undefined') {
                        return "";
                    } else {
                        return decodeURI(ar[1]);
                    }
                }
            }
            return "";
        }
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                cameraList: [],
                currentList: [],
                allCount: 0,
                page: 1,
                pageRows: 6
            },
            created: function () {
                /*
                    var self = this;
                    $.ajax({
                        url: '/VMW/VMWCamera/GetAllCameraList',
                        type: 'get',
                        dataType: 'json'
                    }).then(function (res) {
                        self.cameraList = res;
                    }).fail(function () {
                        console.log('失败');
                    })
                    */
            },
            watch: {
                cameraList: function () {
                    this.$nextTick(function () {
                        /*现在数据已经渲染完毕*/
                        //initVideo()
                    })
                }
            },
            mounted: function () {
                var self = this;
                $.ajax({
                    url: '/VMW/VMWCamera/GetAllCameraList',
                    type: 'get',
                    dataType: 'json'
                }).then(function (res) {
                    self.cameraList = res;
                    self.allCount = self.cameraList.length;
                    self.currentList = self.cameraList.slice(0, self.pageRows)

                }).fail(function () {
                    console.log('失败');
                })
            },
            methods: {
                netPage: function () {
                    this.currentList = this.cameraList.slice(this.page * this.pageRows, (this.page + 1) * this.pageRows);
                    this.page = this.page + 1;
                },
                prePage: function () {
                    this.currentList = this.cameraList.slice((this.page - 2) * this.pageRows, (this.page - 1) * this.pageRows);
                    this.page = this.page - 1;
                }
            }
        });

    </script>
    @Html.AntiForgeryToken()
</body>
</html>
