 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2019-08-07 10:22:16
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
     var keyValue = $.request("keyValue");
    $(function () {
        $.ajax({
            url: "/IOT/IOTStopRecord/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                  $("#form1").formInitialize(data);
            }
        });
    });
</script>

<form id="form1">
    <div style="margin: 10px 10px 10px 10px;">
        <table class="form">
 	  	
			<tr>
                <th class="formTitle"> 停机编码</th>
                <td class="formValue">
                    <div id="StopReasonCode" name="StopReasonCode" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 停机名称</th>
                <td class="formValue">
                    <div id="StopReasonName" name="StopReasonName" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 停机开始时间</th>
                <td class="formValue">
                    <div id="StopStartTime" name="StopStartTime" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 停机结束时间</th>
                <td class="formValue">
                    <div id="StopEndTime" name="StopEndTime" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 创建日期</th>
                <td class="formValue">
                    <div id="CreateDate" name="CreateDate" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 创建用户名称</th>
                <td class="formValue">
                    <div id="CreateUserName" name="CreateUserName" ></div>
                </td>
            </tr>
   
        </table>
    </div>
</form>

