<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="JFine.Data.IDatabase,JFine.Data" />
    <typeAlias alias="SqlServerDatabase" type="JFine.Data.EF.SqlServerDatabase,JFine.Data" />
    <typeAlias alias="MySqlDatabase" type="JFine.Data.EF.MySqlDatabase,JFine.Data" />
    <typeAlias alias="IDbContext" type="JFine.Data.Common.IDbContext,JFine.Data" />
    <typeAlias alias="MySql" type="JFine.Data.EF.MySqlDbContext,JFine.Data" />
    <typeAlias alias="SqlServer" type="JFine.Data.EF.SqlServerDbContext,JFine.Data" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="SqlServerDatabase" ></type >
      <type type="IDatabase" mapTo="SqlServerDatabase" name="SqlServer" ></type >
      <type type="IDatabase" mapTo="MySqlDatabase" name="MySql" ></type >
      <!-- 默认数据库类型：SqlServer,MySql-->
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>