
 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2019-06-15 14:32:46
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var warnType = $.request("warnType");
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/VMW/VMWWarnType/WarnCameraList?typeCode=" + warnType,
            height: $(window).height() - 138,
            colModel: [
					  	
					{ label: "主键", name: "Id", width: 150, align: 'left',hidden:true },
	  	
					{ label: "编码", name: "Code", width: 150, align: 'left' },

					{ label: "名称", name: "Name", width: 150, align: 'left' },

					{ label: "部署位置", name: "Position", width: 150, align: 'left' },

 
            ],
			pager: "#gridPager",
			sortname: 'CreateDate desc',
            viewrecords: true
        });
    }
	function refreshGrid() {
        $("#gridList").trigger("reloadGrid");
	 }      
</script>
<div class="gridPanel">
    <table id="gridList"></table>
	<div id="gridPager"></div>
</div>

