 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2019-07-25 14:27:12
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
     var keyValue = $.request("keyValue");
    $(function () {
        $.ajax({
            url: "/IOT/IOTDeviceBeat/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                  $("#form1").formInitialize(data);
            }
        });
    });
</script>

<form id="form1">
    <div style="margin: 10px 10px 10px 10px;">
        <table class="form">
 	  	
			<tr>
                <th class="formTitle"> 设备</th>
                <td class="formValue">
                    <div id="DeviceCode" name="DeviceCode"></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 开始时间</th>
                <td class="formValue">
                    <div id="StartTime" name="StartTime" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 结束时间</th>
                <td class="formValue">
                    <div id="EndTime" name="EndTime" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 时间间隔</th>
                <td class="formValue">
                    <div id="IntervalTime" name="IntervalTime" ></div>
                </td>
            </tr>
   
        </table>
    </div>
</form>

