@*------------------------------------------------------------------------------
    *     此代码由T4模板自动生成
    *	   生成时间 2019-09-29 17:04:15
    *     ©为之团队
    *------------------------------------------------------------------------------*@

@{
    /**/

    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/IOT/IOT_Order_Sec/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    //初始化组件
    function initControl() {
        $("#ProductLine").bindSelect({
            url: '/SysManage/ItemsDetail/GetSelectJson?Code=ProductLine',
            change: function (data) {

            }
        })
        $("#PCode").bindSelect({
            url: '/IOT/IOT_Device_Sec/GetSelectJson',
            change: function (data) {
                $("#PName").val(data.text);
            }
        })
        //$("#PName").click(function () {
        //    $.modalOpen({
        //        id: "Form",
        //        title: "设备选择",
        //        url: "/IOT/IOT_Device_Sec/ChooseDevice?isSingle=1&flag=operator",
        //        width: ($(window).width() * 0.8) + "px",
        //        height: ($(window).height() * 0.7) + "px",
        //        callBack: function (iframeId) {
        //            top.frames[iframeId].submitForm();
        //        }
        //    });
        //})
    }
    //设备选择回调
    function dealSelectedDevice(selectedDevice, flag) {

    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        $.submitForm({
            url: "/IOT/IOT_Order_Sec/SaveForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="margin: 10px 10px 10px 10px;">
        <table class="form">
            <tr>
                <th class="formTitle">产线名称</th>
                <td class="formValue">
                    <select id="ProductLine" name="ProductLine" type="text"
                            class="form-control  required" placeholder="请输入"></select>
                    @*<input id="ProductLine" name="ProductLine" type="text"
            class="form-control  required" placeholder="请输入" />*@
                </td>
                <th class="formTitle">产品名称</th>
                <td class="formValue">
                    <input name="PName" id="PName" type="hidden" />
                    <select name="PCode" id="PCode" class="form-control required" placeholder="请输入"></select>
                </td>
             
            </tr>

            <tr>
                @*<th class="formTitle">订单类型</th>
        <td class="formValue">
            <input id="OrderType" name="OrderType" type="text"
                   class="form-control  required" placeholder="请输入" />
        </td>*@
                <th class="formTitle">订单编码</th>
                <td class="formValue">
                    <input id="OrderName" name="OrderName" type="text"
                           class="form-control   required" placeholder="请输入" />
                </td>
                <th class="formTitle">计划数量</th>
                <td class="formValue">
                    <input id="PlanQuantity" name="PlanQuantity" type="text"
                           class="form-control number  required" placeholder="请输入" />
                </td>
            </tr>

            <tr>
                
                <th class="formTitle">订单日期</th>
                <td class="formValue">
                    <input id="OrderDate" name="OrderDate" type="text"
                           class="form-control required input-wdatepicker" onfocus="WdatePicker()" placeholder="请输入" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">订单开始时间</th>
                <td class="formValue">
                    <input id="OrderBegin_Time" name="OrderBegin_Time" type="text"
                           class="form-control required input-wdatepicker" onfocus="WdatePicker({dateFmt:'HH:mm:ss'})" placeholder="请输入" />
                </td>
                <th class="formTitle">订单结束时间</th>
                <td class="formValue">
                    <input id="OrderEnd_Time" name="OrderEnd_Time" type="text"
                           class="form-control required input-wdatepicker" onfocus="WdatePicker({dateFmt:'HH:mm:ss'})" placeholder="请输入" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">备注</th>
                <td class="formValue">
                    <input id="Remark" name="Remark" type="text"
                           class="form-control  required" placeholder="请输入" />
                </td>
            </tr>

        </table>
    </div>
</form>

