@*------------------------------------------------------------------------------
    *     此代码由T4模板自动生成
    *	   生成时间 2019-09-29 17:04:16
    *     ©为之团队
    *------------------------------------------------------------------------------*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        // 假设: userlist.json 返回的数据格式为: { status:200, list:[] }, 配置 field: {data:"list"}
        // 初始化
        var uiList = bui.list({
            id: "#scrollList",
            url: "http://www.easybui.com/demo/json/shop.json",
            pageSize: 5,
            data: {},
            // 如果返回的数组字段不在data,通过field重新定义
            field: {
                page: "page",
                size: "pageSize",
                data: "data"
            },
            template: function (data) {
                var html = "";
                data.map(function (el, index) {
                    html += `<li class="bui-btn bui-box">
                        <div class="bui-thumbnail"><img src="${el.image}" alt=""></div>
                        <div class="span1">
                            <h3 class="item-title">${el.name}</h3>
                            <p class="item-text">${el.address}</p>
                            <p class="item-text">${el.distance}公里</p>
                        </div>
                        <span class="price"><i>￥</i>${el.price}</span>
                    </li>`
                });
                return html;
            }
    }

</script>

<div id="scrollList" class="bui-scroll">
    <div class="bui-scroll-head"></div>
    <div class="bui-scroll-main">
        <ul class="bui-list"></ul>
    </div>
    <div class="bui-scroll-foot"></div>
</div>

