<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JFine快速开发平台</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-login.css?v=1.0.4" rel="stylesheet" />
    <link href="~/Content/js/slideunlock.js/slide-unlock.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.0.3.min.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <script src="~/Content/js/md5/jquery.md5.js"></script>
    <script src="~/Content/js/supersized/supersized.3.2.7.min.js"></script>
    <script src="~/Content/js/supersized/supersized-init.js"></script>
    <script src="~/Content/js/slideunlock.js/jquery.slideunlock.js"></script>
    <link href="~/Content/js/Remodal-master/dist/remodal.css" rel="stylesheet" />
    <link href="~/Content/js/Remodal-master/dist/remodal-default-theme.css" rel="stylesheet" />
    <script src="~/Content/js/Remodal-master/dist/remodal.min.js"></script>
    <script src="/Content/js/Device/device.js"></script>
</head>
<body>
    <div style="position: absolute; z-index: 999; top: 20px; left: 20px; color: #fff; font-size: 13px; line-height: 22px;">

    </div>
    <div class="wrapper">
        <div class="container">
            <div class="logo">
                <i class="fa fa-heartbeat"></i>
                <h1><span>JFine</span>开发平台</h1>
            </div>
            <form class="form">
                
                <div class="row">
                    <label class="row_user">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                    </label>
                    <input id="txt_account" type="text" value="admin" placeholder="用户名/手机号/邮箱">
                    
                </div>
                <div class="row">
                    <label class="row_user">
                        <span>
                            <i class="fa fa-lock"></i>
                        </span>
                    </label>
                    
                    <input id="txt_password" type="password" value="admin" placeholder="登录密码">
                    
                </div>
                <div class="row">
                    @*<input id="txt_code" maxlength="4" type="text" placeholder="验证码" style="width: 190px; float: left;">
                    <div style="width: 110px; float: right; padding-top: 14px; padding-left: 14px;">
                        看不清？<a id="switchCode" href="javascript:void();" style="text-decoration: none;">换一张</a>
                        <img id="imgcode" class="authcode" src="~/Login/GetAuthCode" width="80" height="25" />
                    </div>*@
                    <div id="slider">
                        <div id="slider_bg"></div>
                        <span id="slidelabel">>></span> <span id="slidelabelTip">拖动滑块验证</span>
                    </div>
                </div>
                @*<div class="row">
                    <label style="cursor: pointer;">
                        <input id="autologin" type="checkbox"  style="width:36px; display:inline;">下次自动登录
                    </label>
                </div>*@
                <div class="row">
                    <button id="login_button" type="button"><span>登录</span></button>
                </div>
                <div class="row">
                    <div style="margin-top:6px;">
                        <span style="float:left;"><a href="#" style="cursor: pointer; color: #3b65a7;text-decoration:none;" onclick="forgetPassWord();">忘记密码了？</a></span>
                        <span style="float:right;"><a href="#" style="cursor: pointer; color: #3b65a7;text-decoration:none;" onclick="alert('用户注册')">用户注册</a></span>
                    </div>
                    
                </div>
            </form>
            <div class="login_tips"></div>
        </div>
        <ul class="bg-bubbles">
            <li>企业品质</li>
            <li>高效便捷</li>
            <li>公平公正</li>
            <li>软件开发</li>
            <li>数据分析</li>
            <li>大数据</li>
            <li>管理系统</li>
            <li>移动互联</li>
            <li>自动化</li>
            <li>人工智能</li>
        </ul>
    </div>
    <div class="copyright">
        JFine开发团队出品
    </div>

    <div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false, closeOnOutsideClick: false,closeOnEscape: false">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodalBody">
            <h2 id="modal1Title">找回密码</h2>
            <br />
            <table class="form">
                <tr>
                    <th class="formTitle">账号：</th>
                    <td class="formValue">
                        <input id="search_name" name="search_name" class="form-control required" placeholder="请输入名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">预留邮箱：</th>
                    <td class="formValue">
                        <input id="search_email" name="search_email" class="form-control required" placeholder="请输入预留邮箱" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">验证码：</th>
                    <td class="formValue">
                        <input id="search_code" name="search_code" class="form-control required" placeholder="请输入验证码" style="width:68%;display:inline-block;" />
                        <button id="getVcode" class="remodal-confirm" onclick="getVcode()" style="display:inline-block;">获取验证码</button>
                    </td>
                </tr>
                <tr class="showFlag_class">
                    <th class="formTitle">新密码：</th>
                    <td class="formValue">
                        <input id="newPW" name="newPW" type="password" class="form-control required" placeholder="请输入新密码" />
                    </td>
                </tr>
                <tr class="showFlag_class">
                    <th class="formTitle">重复新密码：</th>
                    <td class="formValue">
                        <input id="reNewPW" name="reNewPW" type="password" class="form-control required" placeholder="请再次输入新密码" />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <button class="remodal-cancel showFlag_class" onclick="Cancel()">取消</button>
        <button id="confirmAgree" class="remodal-confirm showFlag_class" onclick="confirm_modify()">确认</button>
        <div class="login_tips"></div>
    </div>

    <script type="text/javascript">
        var SecondCount = 90;
        var SecondCount_temp = 0;
        var intervalId;
        var getCodeFlag = false;
        (function ($) {
            $.login = {
                formMessage: function (msg) {
                    $('.login_tips').find('.tips_msg').remove();
                    if (msg != "")
                    {
                        $('.login_tips').append('<div class="tips_msg"><i class="fa fa-question-circle"></i>' + msg + '</div>');
                    }
                    
                },
                loginClick: function () {
                    var $username = $("#txt_account");
                    var $password = $("#txt_password");
                    var $code = $("#txt_code");
                    if ($username.val() == "") {
                        $username.focus();
                        $.login.formMessage('请输入用户名/手机号/邮箱。');
                        return false;
                    } else if ($password.val() == "") {
                        $password.focus();
                        $.login.formMessage('请输入登录密码。');
                        return false;
                    } else if ($code.val() == "") {
                        $code.focus();
                        $.login.formMessage('请输入验证码。');
                        return false;
                    } else {
                        $.login.formMessage('');
                        $("#login_button").attr('disabled', 'disabled').find('span').html("登录中...");
                        $.ajax({
                            url: "/Login/CheckLogin",
                            data: { username: $.trim($username.val()), password: $.md5($.trim($password.val())), verifycode: '',autologin:1 },
                            type: "post",
                            dataType: "json",
                            success: function (data) {
                                if (data.state == "success") {
                                    token = data.data;
                                    $("#login_button").find('span').html("登录成功，正在跳转...");
                                    if (device.mobile()) {
                                        window.location.href = "/Home/Index?token=" + data.data;

                                    } else {
                                        window.location.href = "/Home/Index?token=" + data.data;
                                    }
                                } else {
                                    $("#login_button").removeAttr('disabled').find('span').html("登录");
                                    $("#switchCode").trigger("click");
                                    $code.val('');
                                    $.login.formMessage(data.message);
                                }
                            }
                        });
                    }
                },
                init: function () {
                    $('.wrapper').height($(window).height());
                    $(".container").css("margin-top", ($(window).height() - $(".container").height()) / 2 - 50);
                    $(window).resize(function (e) {
                        $('.wrapper').height($(window).height());
                        $(".container").css("margin-top", ($(window).height() - $(".container").height()) / 2 - 50);
                    });
                    $("#switchCode").click(function () {
                        $("#imgcode").attr("src", "/Login/GetAuthCode?time=" + Math.random());
                    });
                    var login_error = top.$.cookie('jfine_login_error');
                    if (login_error != null) {
                        switch (login_error) {
                            case "overdue":
                                $.login.formMessage("系统登录已超时,请重新登录");
                                break;
                            case "replace":
                                $.login.formMessage("您的帐号已在其它地方登录,请重新登录");
                                break;
                            case "-1":
                                $.login.formMessage("系统未知错误,请重新登录");
                                break;
                        }
                        top.$.cookie('jfine_login_error', '', { path: "/", expires: -1 });
                    }
                    $("#login_button").click(function () {
                        $.login.loginClick();
                    });
                    document.onkeydown = function (e) {
                        if (!e) e = window.event;
                        if ((e.keyCode || e.which) == 13) {
                            document.getElementById("login_button").focus();
                            document.getElementById("login_button").click();
                        }
                    }
                },
                initSlideunlock: function () {
                    var slider = new SliderUnlock("#slider", {
                        successLabelTip: "验证成功"
                    }, function () {
                        alert("验证成功!");
                    });
                    slider.init();
                }
            };
            $(function () {
                $.login.init();
                $.login.initSlideunlock();
            });
        })(jQuery);

        $(function () {
            $('#search_code').bind('input propertychange', function () {
                var search_code = $("#search_code").val();
                if (search_code.length >= 5) {
                    if (getCodeFlag) {
                        validatecode();
                    } else {
                        $.login.formMessage("验证码已过期，请重新获取！");
                    }
                }
            });
        })

        //忘记密码
        function forgetPassWord() {
            var inst = $('[data-remodal-id=modal]').remodal();
            inst.open();
            $("#search_code").val("");
            $("#newPW").val("");
            $("#reNewPW").val("");
            $(".showFlag_class").hide();
        }
        //获取验证码
        function getVcode() {
            var email = $("#search_email").val();
            var name = $("#search_name").val();

            var ckmail = /^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if ($("#search_name").val() == "") {
                $.login.formMessage("账号不能为空！");
                $("#search_name").focus();
                return false;
            }
            if ($("#search_email").val() == "") {
                $.login.formMessage("邮箱不能为空！");
                $("#search_email").focus();
                return false;
            }
            else if (!ckmail.test($("#search_email").val())) {
                $.login.formMessage("邮箱格式不正确！");
                $("#search_email").focus();
                return false;
            }

            $.post('/Login/GetVerCode?email=' + email + '&account=' + name, function (msg) {
                var result = JSON.parse(msg);
                if ("success" == result.state) {
                    $.login.formMessage("获取成功，请登陆邮箱查看！");
                    SecondCount_temp = SecondCount;
                    intervalId = setInterval("countDown()", 1000);

                } else {
                    $.login.formMessage("获取验证码失败：" + result.message);
                }
            });
        }

        function countDown() {
            if (SecondCount_temp <= 0) {
                $("#getVcode").css({ "background-color": "#81c784" });
                $("#getVcode").text("获取验证码")
                $("#getVcode").attr("disabled", false);
                clearInterval(intervalId);
                getCodeFlag = false;
                return;
            }
            getCodeFlag = true;
            SecondCount_temp--;
            $("#getVcode").css({ "background-color": "#D0D0D0" });
            $("#getVcode").attr("disabled", true);
            $("#getVcode").text("剩余" + SecondCount_temp + "秒");
        }

        //验证验证码
        function validatecode() {
            var email = $("#search_email").val();
            var name = $("#search_name").val();
            var searchcode = $("#search_code").val();

            var ckmail = /^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if ($("#search_name").val() == "") {
                $.login.formMessage('账号不能为空。');
                $("#search_name").focus();
                return false;
            }
            if ($("#search_email").val() == "") {
                $.login.formMessage('邮箱不能为空。');
                $("#search_email").focus();
                return false;
            }
            else if (!ckmail.test($("#search_email").val())) {
                $.login.formMessage('邮箱格式不正确。');
                $("#search_email").focus();
                return false;
            }

            $.post('/Login/ValidateCode?email=' + email + '&account=' + name + '&searchcode=' + searchcode, function (msg) {
                var result = JSON.parse(msg);
                if ("success" == result.state) {
                    $(".showFlag_class").show();
                    $.login.formMessage("验证码验证成功！请修改您的新密码！");

                } else {
                    $.login.formMessage("验证验证码失败：" + result.message);
                }
            });
        }

        function confirm_modify() {
            var newPW = $("#newPW").val();
            var reNewPW = $("#reNewPW").val();
            if (newPW.length < 6 || newPW.length > 12) {
                $.login.formMessage("密码长度为6~12位字符！");
                $("#newPW").focus();
                return false;
            }
            if (newPW.length == 0 || reNewPW.length == 0) {
                $.login.formMessage("两次密码不能为空");
                return;
            }
            if (newPW == reNewPW) {
                para = {};
                para.account = $("#search_name").val();
                para.newPW = $.md5($.trim(newPW));
                para.search_code = $("#search_code").val();

                $.post('/Login/modifyPW', para, function (msg) {
                    var result = JSON.parse(msg);
                    if ("success" == result.state) {
                        $.login.formMessage("修改成功！");
                        $("#search_name").val("");
                        $("#search_email").val("");
                        $("#search_code").val("");
                        $("#newPW").val("");
                        $("#reNewPW").val("");

                        if (getCodeFlag) {
                            $("#getVcode").css({ "background-color": "#81c784" });
                            $("#getVcode").text("获取验证码")
                            $("#getVcode").attr("disabled", false);
                            clearInterval(intervalId);
                            getCodeFlag = false;
                        }

                        $(".showFlag_class").hide();
                        var inst = $('[data-remodal-id=modal]').remodal();
                        inst.close();


                    } else {
                        $.login.formMessage("修改失败：" + result.message);
                    }

                });
            } else {
                $.login.formMessage("两次密码不一致，请修改");
            }
        }

        function Cancel() {
            var inst = $('[data-remodal-id=modal]').remodal();
            inst.close();
        }
    </script>
</body>
</html>
