
@*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2018-01-27 10:08:10
 *     ©为之团队
 *------------------------------------------------------------------------------*@


 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form2.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $.ajax({
            url: "/SysCommon/ApprovalDeliverRecord/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                  $("#form1").formInitialize(data);
            }
        });
    });
</script>

<form id="form1">
    <input type="hidden" id="Id" name="Id" value="" />
    <div id="jfine-form-container" class="jfine-form-container" border="0">
        <table id="jfine-form-maintable" class="jfineui jfine-form-maintable" style="table-layout: fixed;"
               border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr id="jfine-form-titlebg" class="jfine-form-titlebg">
                    <td>
                        <table align="center" border="0" style="margin: 0px auto; width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="jfine-form-header_l">
                                        <span class="jfine-form-logo">
                                            <img src="/Content/images/formlogo.png" />
                                        </span>
                                    </td>
                                    <td class="jfine-form-header_c">
                                        <span class="jfine-form-header-title">审批转交</span>
                                    </td>
                                    <td class="jfine-form-header_r">
                                        <div>
                                            <div class="btn-group">
                                                <a class="btn btn-info dropdown-text" onclick="submitForm()"><i class="fa fa-send"></i>提交</a>
                                                <a class="btn btn-warning dropdown-text" onclick="closeForm()"><i class="fa fa-minus"></i>关闭</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="jfine-form-formcontent" class="jfine-form-titlebg" style="">
                    <td>
                        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                            <table class="form" style="margin-bottom: 10px;">
								  	
								<tr>
									<th class="formTitle"> 主键</th>
									<td class="formValue">
										<input id="Id" name="Id" type="text"
										 class="form-control  required"  placeholder="请输入主键" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> </th>
									<td class="formValue">
										<input id="BINDID" name="BINDID" type="text"
										 class="form-control  required"  placeholder="请输入" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 发送人</th>
									<td class="formValue">
										<input id="FromCode" name="FromCode" type="text"
										 class="form-control  required"  placeholder="请输入发送人" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 发送人</th>
									<td class="formValue">
										<input id="FromName" name="FromName" type="text"
										 class="form-control  required"  placeholder="请输入发送人" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 接收人</th>
									<td class="formValue">
										<input id="ToCode" name="ToCode" type="text"
										 class="form-control  required"  placeholder="请输入接收人" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 接收人</th>
									<td class="formValue">
										<input id="ToName" name="ToName" type="text"
										 class="form-control  required"  placeholder="请输入接收人" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 创建日期</th>
									<td class="formValue">
										<input id="CreateDate" name="CreateDate" type="text"
										 class="form-control Wdate required" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请输入创建日期" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 创建用户账户</th>
									<td class="formValue">
										<input id="CreateUserId" name="CreateUserId" type="text"
										 class="form-control  required"  placeholder="请输入创建用户账户" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 创建用户名称</th>
									<td class="formValue">
										<input id="CreateUserName" name="CreateUserName" type="text"
										 class="form-control  required"  placeholder="请输入创建用户名称" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 最后修改时间</th>
									<td class="formValue">
										<input id="UpdateDate" name="UpdateDate" type="text"
										 class="form-control Wdate required" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请输入最后修改时间" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 最后修改用户</th>
									<td class="formValue">
										<input id="UpdateUserId" name="UpdateUserId" type="text"
										 class="form-control  required"  placeholder="请输入最后修改用户" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 最后修改用户名称</th>
									<td class="formValue">
										<input id="UpdateUserName" name="UpdateUserName" type="text"
										 class="form-control  required"  placeholder="请输入最后修改用户名称" />
									</td>
								</tr>
					   
							</table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
