#small-chat {
	position: fixed;
	bottom: 50px;
	right: 26px;
	z-index: 100
}

#small-chat .badge {
	position: absolute;
	top: -3px;
	right: -4px
}

.open-small-chat {
	height: 38px;
	width: 38px;
	display: block;
	background: #1c84c6;
	padding: 9px 8px;
	text-align: center;
	color: #fff;
	border-radius: 50%
}

.open-small-chat:hover {
	color: #fff;
	background: #1ab394
}

.small-chat-box {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 80px;
	background: #fff;
	border: 1px solid #e7eaec;
	width: 230px;
	height: 320px;
	border-radius: 4px
}

.small-chat-box.ng-small-chat {
	display: block
}

.body-small .small-chat-box {
	bottom: 70px;
	right: 20px
}

.small-chat-box.active {
	display: block
}

.small-chat-box .heading {
	background: #2f4050;
	padding: 8px 15px;
	font-weight: 700;
	color: #fff
}

.small-chat-box .chat-date {
	opacity: .6;
	font-size: 10px;
	font-weight: 400
}

.small-chat-box .content {
	padding: 15px
}

.small-chat-box .content .author-name {
	font-weight: 700;
	margin-bottom: 3px;
	font-size: 11px
}

.small-chat-box .content>div {
	padding-bottom: 20px
}

.small-chat-box .content .chat-message {
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 11px;
	line-height: 14px;
	max-width: 80%;
	background: #f3f3f4;
	margin-bottom: 10px
}

.small-chat-box .content .chat-message.active {
	background: #1ab394;
	color: #fff
}

.small-chat-box .content .left {
	text-align: left;
	clear: both
}

.small-chat-box .content .left .chat-message {
	float: left
}

.small-chat-box .content .right {
	text-align: right;
	clear: both
}

.small-chat-box .content .right .chat-message {
	float: right
}

.small-chat-box .form-chat {
	padding: 10px
}
.message-input {
	height: 90px!important
}
.chat-avatar {
	white: 36px;
	height: 36px;
	float: left;
	margin-right: 10px
}

.chat-user-name {
	padding: 10px
}

.chat-user {
	padding: 8px 10px;
	border-bottom: 1px solid #e7eaec
}

.chat-user a {
	color: inherit
}

.chat-view {
	z-index: 20012
}

.chat-statistic,.chat-users {
	margin-left: -30px
}

@media (max-width:992px) {
	.chat-statistic,.chat-users {
		margin-left: 0
	}
}

.chat-view .ibox-content {
	padding: 0
}

.chat-message {
	padding: 10px 20px
}

.message-avatar {
	height: 48px;
	width: 48px;
	border: 1px solid #e7eaec;
	border-radius: 4px;
	margin-top: 1px
}

.chat-discussion .chat-message:nth-child(2n+1) .message-avatar {
	float: left;
	margin-right: 10px
}

.chat-discussion .chat-message:nth-child(2n) .message-avatar {
	float: right;
	margin-left: 10px
}

.fixed-nav .slimScrollDiv #side-menu {
	padding-bottom: 60px;
	position: relative
}

.slimScrollDiv >* {
	overflow: hidden
}

.message {
	background-color: #fff;
	border: 1px solid #e7eaec;
	text-align: left;
	display: block;
	padding: 10px 20px;
	position: relative;
	border-radius: 4px
}

.chat-discussion .chat-message:nth-child(2n+1) .message-date {
	float: right
}

.chat-discussion .chat-message:nth-child(2n) .message-date {
	float: left
}

.chat-discussion .chat-message:nth-child(2n+1) .message {
	text-align: left;
	margin-left: 55px
}

.chat-discussion .chat-message:nth-child(2n) .message {
	text-align: right;
	margin-right: 55px
}

.message-date {
	font-size: 10px;
	color: #888
}

.message-content {
	display: block
}

.chat-discussion {
	background: #eee;
	padding: 15px;
	height: 400px;
	overflow-y: auto
}

.chat-users {
	overflow-y: auto;
	height: 400px
}

.chat-message-form .form-group {
	margin-bottom: 0
}

.badge {
	background-color: #d1dade;
	color: #5e5e5e;
	font-size: 11px;
	font-weight: 600;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	text-shadow: none
}

.badge-primary,.label-primary {
	background-color: #1ab394;
	color: #FFF
}

.badge-success,.label-success {
	background-color: #1c84c6;
	color: #FFF
}

.badge-warning,.label-warning {
	background-color: #f8ac59;
	color: #FFF
}

.badge-warning-light,.label-warning-light {
	background-color: #f8ac59;
	color: #fff
}

.badge-danger,.label-danger {
	background-color: #ed5565;
	color: #FFF
}

.badge-info,.label-info {
	background-color: #23c6c8;
	color: #FFF
}

.badge-inverse,.label-inverse {
	background-color: #262626;
	color: #FFF
}

.badge-white,.label-white {
	background-color: #FFF;
	color: #5E5E5E
}

.badge-disable,.label-white {
	background-color: #2A2E36;
	color: #8B91A0
}
