
 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2019-04-01 16:04:08
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form2.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/VMW/VMWFaceSample/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formInitialize(data);
                    $("#FaceImage").attr("src", data.FaceImage);
                    if (data.Status == 0)
                    {
                        $("#Status").html("未处理");
                    }
                    if (data.Status == 1) {
                        $("#Status").html("已处理");
                    }
                }
            });
        }
    });
</script>

<form id="form1">
    <input type="hidden" id="Id" name="Id" value="" />
    <div id="jfine-form-container" class="jfine-form-container" border="0">
        <table id="jfine-form-maintable" class="jfineui jfine-form-maintable" style="table-layout: fixed;"
               border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr id="jfine-form-titlebg" class="jfine-form-titlebg">
                    <td>
                        <table align="center" border="0" style="margin: 0px auto; width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="jfine-form-header_l">
                                        <span class="jfine-form-logo">
                                            <img src="/Content/images/formlogo.png" />
                                        </span>
                                    </td>
                                    <td class="jfine-form-header_c">
                                        <span class="jfine-form-header-title">人脸样本</span>
                                    </td>
                                    <td class="jfine-form-header_r">
                                        <div>
                                            <div class="btn-group">
                                                <div id="Status" name="Status"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="jfine-form-formcontent" class="jfine-form-titlebg" style="">
                    <td>
                        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                            <table class="form">
					 	  	
								<tr>
									<th class="formTitle"> 编码</th>
									<td class="formValue">
										<div id="Code" name="Code" ></div>
									</td>
                                    <th class="formTitle"> 姓名</th>
                                    <td class="formValue">
                                        <div id="Name" name="Name"></div>
                                    </td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 部门编码</th>
									<td class="formValue">
										<div id="DepCode" name="DepCode" ></div>
									</td>

                                    <th class="formTitle"> 部门名称</th>
                                    <td class="formValue">
                                        <div id="DepName" name="DepName"></div>
                                    </td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 人脸照片</th>
									<td class="formValue">
										<img id="FaceImage" name="FaceImage" style="max-height:300px;" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 创建日期</th>
									<td class="formValue">
										<div id="CreateDate" name="CreateDate" ></div>
									</td>
                                    <th class="formTitle"> 创建用户名称</th>
                                    <td class="formValue">
                                        <div id="CreateUserName" name="CreateUserName"></div>
                                    </td>
								</tr>
					    
							</table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

