 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2019-07-01 14:26:19
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
     var keyValue = $.request("keyValue");
    $(function () {
        $.ajax({
            url: "/IOT/IOTDevice/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                  $("#form1").formInitialize(data);
            }
        });
    });
</script>

<form id="form1">
    <div style="margin: 10px 10px 10px 10px;">
        <table class="form">
 	  	
			<tr>
                <th class="formTitle"> 编码</th>
                <td class="formValue">
                    <div id="Code" name="Code" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 名称</th>
                <td class="formValue">
                    <div id="Name" name="Name" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 品牌</th>
                <td class="formValue">
                    <div id="Brand" name="Brand" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 型号</th>
                <td class="formValue">
                    <div id="Model" name="Model" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 产地</th>
                <td class="formValue">
                    <div id="ProductionPlace" name="ProductionPlace" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 状态</th>
                <td class="formValue">
                    <div id="State" name="State" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 备注</th>
                <td class="formValue">
                    <div id="Remark" name="Remark" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 创建日期</th>
                <td class="formValue">
                    <div id="CreateDate" name="CreateDate" ></div>
                </td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 创建用户名称</th>
                <td class="formValue">
                    <div id="CreateUserName" name="CreateUserName" ></div>
                </td>
            </tr>
   
        </table>
    </div>
</form>

