@*------------------------------------------------------------------------------
    *     此代码由T4模板自动生成
    *	   生成时间 2019-06-24 17:56:02
    *     ©为之团队
    *------------------------------------------------------------------------------*@

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<!-- SignalR -->
<script src="~/Content/js/signalR/jquery.signalR-2.2.3.min.js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script>
    var modbusHub;
    //$.connection.hub.url = "http://localhost:27127/signalr";
    $(function () {
        // Declare a proxy to reference the hub.
        modbusHub = $.connection.modbus;
        // Create a function that the hub can call to broadcast messages
        //StartBid
        modbusHub.client.ReceiveData = function (deviceCode, paraType, paraCategory, paraCode, data, dataTime) {
            console.log("接收到数据");
            //$("#deviceId").val(deviceId);
            //$("#paraCode").val(paraCode);
            //$("#data").val(data);
            var reg = /T/g;
            dataTime = dataTime.replace(reg, ' ');
            //$("#dataTime").val(dataTime);
            $("#data").append("设备Id:" + deviceCode + ";参数编码:" + paraCode + ";数值：" + data + ";时间：" + dataTime + "<br>");
        };
        modbusHub.client.ReceiveQuantitySignal = function (deviceCode, beat, dataTime) {
            console.log("接收到数据");
            //$("#deviceId").val(deviceId);
            //$("#paraCode").val(paraCode);
            //$("#data").val(data);
            var reg = /T/g;
            dataTime = dataTime.replace(reg, ' ');
            //$("#dataTime").val(dataTime);
            $("#data").append("设备Id:" + deviceCode + ";产量+1;节拍：" + beat + "秒；时间：" + dataTime + "<br>");
        };
        modbusHub.client.SendDeviceStatus = function (json) {
            console.log("接收到数据");
            //$("#deviceId").val(deviceId);
            //$("#paraCode").val(paraCode);
            //$("#data").val(data);
            var reg = /T/g;
            dataTime = dataTime.replace(reg, ' ');
            //$("#dataTime").val(dataTime);
            $("#data").append("json:" + json + "<br>");
        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            console.log("modbusHub已连接");
        });
    });
</script>

<form id="form1">
    <div style="margin: 10px 10px 10px 10px;">

        <div id="data"></div>
        @*<table class="form">

                <tr>
                    <th class="formTitle"> 设备Id</th>
                    <td class="formValue">
                        <input id="deviceId" name="deviceId" type="text"  />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">参数编码</th>
                    <td class="formValue">
                        <input id="paraCode" name="paraCode" type="text" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle"> 数值</th>
                    <td class="formValue">
                        <input id="data" name="data" type="text" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle"> 时间</th>
                    <td class="formValue">
                        <input id="dataTime" name="dataTime" type="text" />
                    </td>
                </tr>

            </table>*@
    </div>
</form>

