
 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2019-08-09 14:44:14
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var bindid = $.request("bindid");
    $(function () {
	    initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/IOT/IOTMouldTPara/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

	//初始化组件
    function initControl() {
        if (keyValue == '')
        {
            $("#BindId").val(bindid)
        }
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        $.submitForm({
            url: "/IOT/IOTMouldTPara/SaveForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="BindId" name="BindId" value="" />
    <div style="margin: 10px 10px 10px 10px;">
        <table class="form">
 	  	
			<tr>
                <th class="formTitle"> 编码</th>
                <td class="formValue">
                    <input id="Code" name="Code" type="text"
					 class="form-control  required"  placeholder="请输入编码" />
				</td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 名称</th>
                <td class="formValue">
                    <input id="Name" name="Name" type="text"
					 class="form-control  required"  placeholder="请输入名称" />
				</td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 值</th>
                <td class="formValue">
                    <input id="Value" name="Value" type="text"
					 class="form-control isNumber required"  placeholder="请输入值" />
				</td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 上下限类型</th>
                <td class="formValue">
                    <input id="LimitType" name="LimitType" type="text"
					 class="form-control  required"  placeholder="请输入上下限类型" />
				</td>
            </tr>
 	  	
			<tr>
                <th class="formTitle"> 上限</th>
                <td class="formValue">
                    <input id="LimitUp" name="LimitUp" type="text"
					 class="form-control isNumber required"  placeholder="请输入上限" />
				</td>
            </tr>
 	  	
			<tr>
                <th class="formTitle">下限 </th>
                <td class="formValue">
                    <input id="LimitDown" name="LimitDown" type="text"
                           class="form-control isNumber required" placeholder="请输入下限" />
				</td>
            </tr>
   
        </table>
    </div>
</form>

