@*------------------------------------------------------------------------------
    *     此代码由T4模板自动生成
    *	   生成时间 2019-02-22 21:29:00
    *     ©为之团队
    *------------------------------------------------------------------------------*@

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form2.cshtml";
}
<link href="/Content/js/viewerjs/viewer.min.css" rel="stylesheet" />
<script src="/Content/js/viewerjs/viewer.min.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/VMW/VMWWarning/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    //$("#form1").formSerialize(data);
                    initData(data);
                }
            });
        }
    });

    function initData(data)
    {
        $("#Id").val(data.Id);
        $("#BindId").val(data.BindId);
        $("#headTitle").html(data.CameraName);
        $("#Position").html(data.Position);
        $("#DES").html(data.DES);
        $("#WarningDate").html(data.WarningDate);
        $("#video").html('<source class="video" title="' + data.VideoName + '" src="' + data.VideoURL + '" />');
        $("#image").attr('src', data.ImageURL);

        //状态
        var status_s = '';
        if (data.ConfirmStatus == '未确认') {
            status_s += '<span class=\"label label-default\">' + data.ConfirmStatus + '</span>';
        } else {
            status_s += '<span class=\"label label-success\">' + data.ConfirmStatus + '</span>';
        }
        if (data.DealStatus == '未处理') {
            status_s += '<span class=\"label label-default\" style="margin-left:5px;">' + data.DealStatus + '</span>';
        } else {
            status_s += '<span class=\"label label-success\" style="margin-left:5px;">' + data.DealStatus + '</span>';
        }
        $("#Status").html(status_s);
        //操作

        var operate_s = '';
        if (data.ConfirmStatus == '未确认') {
            operate_s += '<a id="JF-add" class="btn btn-primary" onclick="btn_confirm()">确认</a>'

            operate_s += '<a id="JF-add" class="btn btn-warning " style="margin-left:10px;" onclick="btn_ignore()">忽略</a>'
        }
        $("#Confirm_Operate").html(operate_s);
    }

    //初始化组件
    function initControl() {
        //初始化工作
        var viewer = new Viewer(document.getElementById('jfine-form-formcontent'));
    }

    //确认
    function btn_confirm() {
        $.submitForm({
            url: "/VMW/VMWWarning/Confirm",
            param: { keyValue: keyValue },
            success: function () {
                var status_s = '';
                status_s += '<span class=\"label label-success\">已确认</span>';
                status_s += '<span class=\"label label-default\" style="margin-left:5px;">未处理</span>';
                $("#Status").html(status_s);
                //操作
                $("#Confirm_Operate").html("");
            }
        })
    }

    //忽略
    function btn_ignore() {
        $.confirmSubmitForm({
            prompt:"您确定要忽略此预警吗？",
            url: "/VMW/VMWWarning/Ignore",
            param: { keyValue: keyValue },
            success: function () {
                /*
                var status_s = '';
                status_s += '<span class=\"label label-success\">已忽略</span>';
                status_s += '<span class=\"label label-success\" style="margin-left:5px;">已忽略</span>';
                $("#Status").html(status_s);
                //操作
                $("#Confirm_Operate").html("");
                */
                var parentTabId = top.$.jfinetab.getCurrentTabParentId();
                var resultPage = top.$.jfinetab.getTabContentFromId(parentTabId);
                resultPage.refreshGrid();
                top.$.jfinetab.closeCurrentTab();
            }
        });
    }

    //提交处理
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = {};
        postData.Result = $("#Result").val();
        $.submitForm({
            url: "/VMW/VMWWarning/DealWarning?keyValue=" + keyValue,
            param: postData,
            success: function () {
                var parentTabId = top.$.jfinetab.getCurrentTabParentId();
                var resultPage = top.$.jfinetab.getTabContentFromId(parentTabId);
                resultPage.refreshGrid();
                top.$.jfinetab.closeCurrentTab();
            }
        })
    }
    //关闭Form
    function closeForm() {
        top.$.jfinetab.closeCurrentTab();
    }
</script>

<form id="form1">
    <input type="hidden" id="Id" name="Id" value="" />
    <input type="hidden" id="BindId" name="BindIdId" value="" />
    <div id="jfine-form-container" class="jfine-form-container" border="0">
        <table id="jfine-form-maintable" class="jfineui jfine-form-maintable" style="table-layout: fixed;"
               border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr id="jfine-form-titlebg" class="jfine-form-titlebg">
                    <td>
                        <table align="center" border="0" style="margin: 0px auto; width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="jfine-form-header_l">
                                        <span class="jfine-form-logo">
                                            <img src="/Content/images/formlogo.png" />
                                        </span>
                                    </td>
                                    <td class="jfine-form-header_c">
                                        <span id="headTitle" class="jfine-form-header-title">预警处理</span>
                                    </td>
                                    <td class="jfine-form-header_r">
                                        <div>
                                            <div class="btn-group">
                                                <a class="btn btn-warning dropdown-text" onclick="closeForm()"><i class="fa fa-minus"></i>关闭</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="jfine-form-formcontent" class="jfine-form-titlebg" style="">
                    <td>
                        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                            <div class="form row" style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                    <video id="video" style="width:98%;" controls="controls" autoplay="autoplay" loop="loop" class=""></video>
                                </div>

                                <div class="col-md-4">
                                    <img id="image" style="width:98%;" src="" />
                                    <div style="margin-top:5px;"><span style="font-size:14px;font-weight:bold">位置：</span><span id="Position" style="font-size:14px;font-weight:bold"></span></div>
                                    <div><span style="font-size:14px;font-weight:bold">事项：</span><span id="DES" style="font-size:15px;font-weight:bold;color:red;"></span></div>
                                    <div><span style="font-size:14px;font-weight:bold">时间：</span><span id="WarningDate" style="font-size:14px;font-weight:bold"></span></div>
                                    <div><span style="font-size:14px;font-weight:bold">状态：</span><span id="Status"></span></div>
                                    <div id="Confirm_Operate" style="margin-top:10px;"></div>
                                    <div style="margin-top:10px;border-top: dashed;padding-top: 5px;">追踪闭环处理措施</div>
                                    <div style="margin-top:10px;" class="formValue">
                                        <textarea id="Result" name="Result" type="text" rows="3"
                                                  class="form-control  required" placeholder="请输入内容"></textarea>
                                    </div>
                                    <div style="margin-top:3px;text-align: right;">
                                        <a class="btn btn-info dropdown-text" onclick="submitForm()"><i class="fa fa-send"></i>处理闭环</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

